# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Bin y obj
bin/
obj/

# Archivos temporales
*.dbmdl
*.log
*.tlog
*.ide
*.vspscc
*.vssscc

# Otros
*.cache
*.pidb
*.pdb

# Ignorar credenciales Firebase
firebase-adminsdk.json

**/Credentials/*.json
